script(defer, src='/js/game/missions.js')
h1.page-header Select mission
#missions
  ul.pagination
    li.page-item(:class='{disabled: pagination.current == 0}')
      a.page-link(aria-label='Previous', @click='next(pagination.current - 1)')
        span(aria-hidden='true') &laquo;
    li.page-item(v-for='i in pagination.last', :class='{active: pagination.current == i - 1}')
      a.page-link(v-text='i', @click='next(i - 1)')
    li.page-item(:class='{disabled: (pagination.last - 1) <= pagination.current}')
      a.page-link(aria-label='Next', @click='next()')
        span(aria-hidden='true') &raquo;
  table.table.table-striped
    tr
      th Name
      th Start
      th Stations
      th Score
      th
    tr(v-for='m in missions')
      td
        a(v-text='m.mission.name', href='javascript:void(0)', @click.stop, @click='openModal(m)')
      td(v-text='m.mission.startStation.name')
      td(v-text='m.mission.stations.length + "駅"')
      td
        template(v-if='m.score')
          span(v-text='dateFormat(m.score.time)')
          span.head-space(v-text='m.score.money + "円"')
          span.head-space(v-text='m.score.distance.toFixed(1) + "km"')
        span(v-if='!m.score') --
      td
        button.btn.btn-primary.btn-xs.btn-raised(@click='start(m.mission.id)', v-if='!m.game') Start
        button.btn.btn-primary.btn-xs.btn-raised(@click='gameContinue(m.mission.id)', v-if='m.game') Continue
        button.btn.btn-warning.btn-xs.btn-raised(@click='start(m.mission.id)', v-if='m.game') Restart
  form(@submit.prevent, @submit='search()')
    .form-group.row
      label.col-sm-3.col-form-label.text-right(for='rankSelector', style='margin-top: 18px;') 難易度で絞り込み
      .col-sm-9
        #rankSelector.btn-group(role='group')
          button.btn.btn-default(type='button', @click='filter(undefined)', :class="{'btn-primary btn-raised': !rank}") ALL
          button.btn.btn-default(type='button', @click='filter("easy")', :class="{'btn-primary btn-raised': rank == 'easy'}") Easy
          button.btn.btn-default(type='button', @click='filter("medium")', :class="{'btn-primary btn-raised': rank == 'medium'}") Medium
          button.btn.btn-default(type='button', @click='filter("hard")', :class="{'btn-primary btn-raised': rank == 'hard'}") Hard
    .form-group.row
      label.col-sm-3.col-form-label.text-right(for='stationName') 駅名で絞り込み
      .col-sm-9
        input#stationName.form-control(type='text', v-model='stationName')
    .form-group.row
      label.col-sm-3.col-form-label.text-right(for='searchMissionName') mission名で絞り込み
      .col-sm-9
        input#searchMissionName.form-control(type='text', v-model='missionName')
    .form-group.row.justify-content-end
      .col-sm-9
        button.btn.btn-primary.btn-raised(type='submit') Search
