script(src='/js/game/random_mission.js')
#random
  h2 Random mission
  .btn-group(role='group', aria-label='Level')
    button.btn.btn-secondary(type='button', @click='getRandom(6)') Easy
    button.btn.btn-secondary(type='button', @click='getRandom(12)') Medium
    button.btn.btn-secondary(type='button', @click='getRandom(24)') Hard
  #createdMission(v-if='mission')
    form
      .from-group.row
        label.col-sm-3.col-form-label.text-right(for='missionName') Name
        .col-sm-9
          input#missionName.form-control(type='text', v-model='mission.name')
      .form-group.row
        label.col-sm-3.col-form-label.text-right Mission Start
        .col-sm-9
          p(v-text='mission.start.name')
      .form-group.row
        label.col-sm-3.col-form-label.text-right Stations
        .col-sm-9
          span.label.label-default(v-for='station in mission.stations', v-text='station.name')
        .col-sm-9
          button.btn.btn-primary.btn-raised(type='button', @click='start()') START
