script(src='/js/game/station_modal.js')
.modal.fade#stationModal(role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h3(v-text='mission.name')
      .modal-body
        h4 駅リスト
        ul
          li(v-for='station in mission.mission.stations')
            a(v-text='station.name + "駅"', :href='"/data/station.html?id=" + station.id', target='_blank')
        #ranking
          h4 所要時間Ranking
          ol
            li(v-for='rank in times') {{ rank.account.name }}: {{ dateFormat(rank.time) }}
          h4 使用金額Ranking
          ol
            li(v-for='rank in moneys') {{ rank.account.name }}: {{ rank.money }}円
          h4 移動距離Ranking
          ol
            li(v-for='rank in distances') {{ rank.account.name }}: {{ rank.distance.toFixed(1) }}km
      .modal-footer
        button.btn.btn-primary(type='button', @click='start(mission.mission.id)', v-if='!mission.game') Start
        button.btn.btn-primary(type='button', @click='gameContinue(mission.mission.id)', v-if='mission.game') Continue
        button.btn.btn-warning(type='button', @click='start(mission.mission.id)', v-if='mission.game') Restart
