script(defer, src='/js/game/station_modal.js')
.modal.fade#stationModal(role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h3(v-text='mission.mission.name')
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        a.btn.btn-primary(:href="'https://twitter.com/share?text=' + mission.mission.name + '+Ranking&hashtags=TrainStampRally&url=https%3A%2F%2Ftrain.ponkotuy.com%2Fdata%2Franking.html%3fmission%3d' + mission.mission.id", target='_blank') Tweet
        button.btn.btn-primary.btn-raised(type='button', @click='start(mission.mission.id)', v-if='!mission.game') Start
        button.btn.btn-primary.btn-raised(type='button', @click='gameContinue(mission.mission.id)', v-if='mission.game') Continue
        button.btn.btn-warning.btn-raised(type='button', @click='start(mission.mission.id)', v-if='mission.game') Restart
        a.btn.btn-default(:href="'/data/mission.html?id=' + mission.mission.id", target='_blank') Map

        #introduction(v-if='mission.mission.introduction != ""')
          h4 Introduction
          p.with-line-feed(v-text='mission.mission.introduction')

        h4 Station List
        ul
          li(v-for='station in mission.mission.stations')
            a(v-text='station.name + "駅"', :href='"/data/station.html?id=" + station.id', target='_blank')

        #ranking
          h4 所要時間Ranking
          ol
            li(v-for='rank in times') {{ rank.account.name }}: {{ dateFormat(rank.time) }}
          h4 使用金額Ranking
          ol
            li(v-for='rank in moneys') {{ rank.account.name }}: {{ rank.money }}円
          h4 移動距離Ranking
          ol
            li(v-for='rank in distances') {{ rank.account.name }}: {{ rank.distance.toFixed(1) }}km
      .modal-footer
