doctype html
html(lang=ja)
  head
    include ../template/_header
    script(src='/js/game/clear.js')
    title Mission Clear
  body
    include ../template/_navbar
    .container(role=main)
      #game
        h1 Mission Complete!
        h4 終了日時: {{ dateFormat(game.time) }}
        h4 使用金額: {{ game.money }}円
        h4 移動距離: {{ game.distance.toFixed(1) }}km
      #mission
        dl.dl-horizontal
          template(v-for='progress in progresses')
            dt {{ progress.station.name }}駅
            dd {{ dateFormat(progress.arrivalTime) }}
      #finish
        button.btn.btn-primary.btn-lg(@click='clear()') ランキングに登録
      #ranking
        h2 Ranking
        .row
          .col-sm-4
            h3 所要時間
            ol
              li(v-for='rank in times') {{ rank.account.name }}: {{ dateFormat(rank.time) }}
          .col-sm-4
            h3 使用金額
            ol
              li(v-for='rank in moneys') {{ rank.account.name }}: {{ rank.money }}円
          .col-sm-4
            h3 移動距離
            ol
              li(v-for='rank in distances') {{ rank.account.name }}: {{ rank.distance.toFixed(1) }}km
