doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include ../template/_bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js')
    script(src='/js/common.js')
    script(src='/js/game/game.js')
    style .clickable { cursor: pointer; }
  body
    .jumbotron
      h1 Train Stamp Rally
    .container(role=main)
      include _navbar
      #game
        h1 {{ game.station.name }}駅
        h3 {{ dateFormat(game.time) }}
        p 使用金額:{{ game.money }}円 移動距離:{{ game.distance }}km
        table.table
          thead
            tr
              th Name
              th Time
          tbody
            tr.clickable(v-for='diagram in diagrams', @click='openModal(diagram)', :class='{success: diagram.trainType.value == 2, danger: diagram.trainType.value == 3, info: diagram.trainType.value == 4}')
              td {{ diagram.subType }} {{ diagram.name }}
              td {{ timeFormat(diagram.train.start) }}
    .modal#trainModal.fade(role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h3 {{ train.subType }} {{ train.name }}
          .modal-body
            table.table
              thead
                tr
                  th Station
                  th Arrival
                  th Departure
              tbody
                tr(v-for='stop in train.stops')
                  td
                   a(@click='board(stop.station.id)') {{ stop.station.name }}
                  td(v-if='$index == 0') --
                  td(v-if='$index != 0') {{ timeFormat(stop.arrival) }}
                  td {{ timeFormat(stop.departure) }}
