doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include ../template/_bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js')
    script(src='/js/common.js')
    script(src='/js/game/game.js')
  body
    .jumbotron
      h1 Train Stamp Rally
    .container(role=main)
      include _navbar
      #game
        h1 {{ game.station.name }}駅
        h3 {{ timeFormat(game.time) }}
        p 使用金額:{{ game.money }}円 移動距離:{{ game.distance }}km
        h3 Next train...
