doctype html
html(lang=ja)
  head
    include ../template/_header
    script(src='/js/game/train_modal.js')
    script(src='/js/game/game.js')
    title Game Main
  body
    include ../template/_navbar
    .container(role=main)
      .row
        .col-sm-9
          #game
            h1(v-text='game.station.name + "駅"')
            .img-thumbnail
              img(:src='"/api/station/" + game.station.id + "/image"', :alt='game.station.name + "駅の画像"')
              p.text-right.small(v-html='attribution')
            h3(v-text='dateFormat(game.time)')
            p 使用金額:{{ game.money }}円 移動距離:{{ game.distance.toFixed(1) }}km
            button.btn.btn-default.btn-raised(:class='{disabled: !history}', @click='back()') Back
            .panel(v-for='line in fromLines', :class='{"panel-info": line.name.endsWith("新幹線")}')
              .panel-heading(v-text='line.name')
              .panel-body
                table.table.table-hover
                  tr.clickable(v-for='train in line.trains', @click='openModal(train)', :class='trainColor(train.trainType.value)')
                    td(v-text='train.subType + " " + train.name + " " + train.stops[train.stops.length - 1].station.name + "行"')
                    td(v-text='timeFormat(here(train).departure)')
        .col-sm-3
          #mission
            h2 目的地
            a(:href="'/data/mission.html?id=' + missionId", target='_blank') Map
            div(v-for='progress in progresses', :class='{"text-success": progress.arrivalTime, "text-danger": !progress.arrivalTime}')
              h4
                span.glyphicon(:class='{"glyphicon-ok": progress.arrivalTime, "glyphicon-remove": !progress.arrivalTime}')
                a(v-text='progress.station.name', :href="'/data/station.html?id=' + progress.station.id", target='_blank')
    .modal#trainModal.fade(role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h3(v-text='train.subType + " " + train.name')
          .modal-body
            .text-right
              button.btn.btn-default.btn-sm(v-if='isAll', @click='switchAll()') 主要駅表示
              button.btn.btn-default.btn-sm(v-if='!isAll', @click='switchAll()') 全駅表示
            table.table
              thead
                tr
                  th Station
                  th Arrival
                  th Departure
                  th Fee
                  th Distance
              tbody
                tr(v-for='(stop, idx) in stations', v-if='isAll || stop.isMain')
                  td
                    a(@click='board(stop.station.id)', href='javascript:void(0)', v-if='idx != 0', v-text='stop.station.name')
                    span(v-if='idx == 0')
                      strong(v-text='stop.station.name')
                  td(v-if='idx == 0') --
                  td(v-if='idx != 0', v-text='timeFormat(stop.arrival)')
                  td(v-text='timeFormat(stop.departure)')
                  td(v-text='stop.fee + "円"')
                  td(v-text='toFixed(stop.distance, 1) + "km"')
