doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include ../template/_bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js')
    script(src='/js/common.js')
    script(src='/js/game/game.js')
    style .clickable { cursor: pointer; }
  body
    .jumbotron
      h1 Train Stamp Rally
    .container(role=main)
      include _navbar
      .row
        .col-md-8
          #game
            h1 {{ game.station.name }}駅
            h3 {{ dateFormat(game.time) }}
            p 使用金額:{{ game.money }}円 移動距離:{{ game.distance.toFixed(1) }}km
            table.table
              thead
                tr
                  th Name
                  th Time
              tbody
                tr.clickable(v-for='train in trains', @click='openModal(train)', :class='{success: train.trainType.value == 2, danger: train.trainType.value == 3, info: train.trainType.value == 4}')
                  td {{ train.subType }} {{ train.name }} {{ train.stops[train.stops.length - 1].station.name }}行
                  td {{ timeFormat(here(train).departure) }}
        .col-md-4
          #mission
            h2 目的地
            div(v-for='progress in progresses', v-bind:class='{"text-success": progress.arrivalTime, "text-danger": !progress.arrivalTime}')
              h4(v-if='progress.arrivalTime'): span.glyphicon.glyphicon-ok {{ progress.station.name }}
              h4(v-if='!progress.arrivalTime'): span.glyphicon.glyphicon-remove {{ progress.station.name }}

    .modal#trainModal.fade(role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h3 {{ train.subType }} {{ train.name }}
          .modal-body
            table.table
              thead
                tr
                  th Station
                  th Arrival
                  th Departure
              tbody
                tr(v-for='stop in stations')
                  td
                    a(@click='board(stop.station.id)' href='#' v-if='$index != 0') {{ stop.station.name }}
                    span(v-if='$index == 0')
                      strong {{ stop.station.name }}
                  td(v-if='$index == 0') --
                  td(v-if='$index != 0') {{ timeFormat(stop.arrival) }}
                  td {{ timeFormat(stop.departure) }}
