doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include ../template/_bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js')
  body
    .jumbotron
      h1 Train Stamp Rally
    .container(role=main)
      include _navbar
