doctype html
html(lang=ja)
  head
    include ../template/_header
    script(src='/js/game/missions.js')
  body
    include ../template/_navbar
    .container(role=main)
      h1.page-header Select mission
      #missions
        form.form-inline
          label.control-label(for='rankSelector') 難易度で絞り込み
          #rankSelector.btn-group(role='group')
            button.btn.btn-default(type='button', @click='filter(undefined)', :class="{'btn-primary': !rank}") ALL
            button.btn.btn-default(type='button', @click='filter("easy")', :class="{'btn-primary': rank == 'easy'}") Easy
            button.btn.btn-default(type='button', @click='filter("medium")', :class="{'btn-primary': rank == 'medium'}") Medium
            button.btn.btn-default(type='button', @click='filter("hard")', :class="{'btn-primary': rank == 'hard'}") Hard
        table.table.table-striped
          tr
            th Name
            th Start
            th Stations
            th Score
            th
          tr(v-for='m in missions')
            td(v-text='m.mission.name')
            td(v-text='m.mission.startStation.name')
            td(v-text='m.mission.stations.length + "駅"')
            //td.wrap
            //  span.label.label-default(v-for='station in m.mission.stations', v-text='station.name')
            td
              template(v-if='m.score')
                span(v-text='dateFormat(m.score.time)')
                span.head-space(v-text='m.score.money + "円"')
                span.head-space(v-text='m.score.distance.toFixed(1) + "km"')
            td
              button.btn.btn-primary.btn-xs(@click='start(m)', v-if='!m.game') Start
              button.btn.btn-primary.btn-xs(@click='gameContinue(m)', v-if='m.game') Continue
              button.btn.btn-warning.btn-xs(@click='start(m)', v-if='m.game') Restart
      #random
        h2 Random mission
        .btn-group(role='group')
          button.btn.btn-default(type='button', @click='getRandom(6)') Easy
          button.btn.btn-default(type='button', @click='getRandom(12)') Medium
          button.btn.btn-default(type='button', @click='getRandom(24)') Hard
        #createdMission(v-if='mission')
          form.form-horizontal
            label.col-sm-3.control-label(for='missionName') Name
            .col-sm-9
              input#missionName.form-control(type='text', v-model='mission.name')
            label.col-sm-3.control-label Mission Start
            .col-sm-9
              p(v-text='mission.start.name')
            label.col-sm-3.control-label Stations
            .col-sm-9
              span.label.label-default(v-for='station in mission.stations', v-text='station.name')
            .col-offset-sm-3.col-sm-9
              button.btn.btn-primary(type='button', @click='start()') START
