doctype html
html(lang=ja)
  head
    include ../template/_header
  body
    include ../template/_navbar
    .container(role=main)
      include _missions
      include _random_mission
      include _station_modal
