link(rel='stylesheet' href='/css/typeaheadjs.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js')
script(src='/js/creator/train_time.js')
script(src='/js/creator/create_diagram_stops.js')
script(src='/js/creator/create_diagram_trains.js')
script(src='/js/creator/create_diagram.js')
#createDiagram
  h2 Create
  form
    .form-group.row
      label.col-sm-3.col-form-label(for='name') Name
      .col-sm-9
        input#name.form-control(type='text', v-model='name')
    .form-group.row
      label.col-sm-3.col-form-label(for='trainType') TrainType
      .col-sm-9
        select#trainType.form-control(v-model='trainType')
          option(v-for='t in trainTypes', :value='t.value', v-text='t.name')
    .form-group.row
      label.col-sm-3.col-form-label(for='subType') Subtype
      .col-sm-9
        input#subType.form-control(type='text', v-model='subType')
    .form-group.row
      label.col-sm-3.col-form-label(for='starts') Train Times
      .col-sm-9
        textarea#starts.form-control(type='text', v-model='startsText')
    .form-group.row.justify-content-end
      .col-sm-1
        label.col-form-label Pattern
      .col-sm-2
        input#patternStart.form-control(type='text', v-model='pattern.start')
      .col-sm-2
        input#patternEnd.form-control(type='text', v-model='pattern.end')
      .col-sm-2
        input#patternPeriod.form-control(type='number', v-model='pattern.period')
      .col-sm-2
        button.btn.btn-default.form-control(type='button', @click='pushPattern()') Push
  form(@submit.prevent, @submit='scrapeStation()')
    .form-group.row.justify-content-end
      .col-sm-2
        label.col-form-label えきから時刻表の駅ページURL
      .col-sm-5
        input.form-control(type='text', v-model='stationUrl')
      .col-sm-2
        button.btn.btn-default.form-control(type='submit') Scrape
  form
    .form-group.row
      label.col-sm-5.col-form-label Station
      label.col-sm-2.col-form-label Arrival(minutes)
      label.col-sm-2.col-form-label Departure(minutes)
    .form-group.row(v-for='stop, idx in stops')
      .col-sm-5
        input.form-control.autoCompleteStation(autocomplete='off', v-model='stop.name', :data-idx='idx')
      .col-sm-2
        input.form-control(type='text', v-model='stop.arrival', v-bind="{'disabled': idx == 0}")
      .col-sm-2
        input.form-control(type='text', v-model='stop.departure', v-bind="{'disabled': idx == 0 || idx == stops.length - 1}")
      .col-sm-1
        button.btn.btn-default.form-control(type='button', @click='addStop(idx)')
          span.oi.oi-plus
      .col-sm-1
        button.btn.btn-warning.form-control(type='button', @click='deleteStop(0, idx)', v-bind='{disabled: idx == stops.length - 1}')
          span.oi.oi-minus
          span.oi.oi-expand-up
      .col-sm-1
        button.btn.btn-warning.form-control(type='button', @click='deleteStop(idx, stops.length - 1)', v-bind='{disabled: idx == 0}')
          span.oi.oi-minus(title='plus', aria-hidden='true')
          span.oi.oi-expand-down

  form(@submit.prevent, @submit='getScrape()')
    .form-group.row
      label.col-sm-3.col-form-label えきから時刻表の列車詳細ページURL
      .col-sm-7
        input.form-control(type='text', v-model='scrape')
      .col-sm-2
        button.btn.btn-default.form-control(type='submit') Scrape
  button.btn.btn-success.btn-lg(type='button', v-if='update', @click='updateDiagram()') Update
  button.btn.btn-primary.btn-lg(type='button', @click='submit()') Send ALL
  button.btn.btn-warning.btn-lg(type='button', @click='clear()') Clear

.modal#startsModal.fade(role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h3 Select trains
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(@submit.prevent, @submit='submit()')
          .form-check(v-for='attr in trainAttrs')
            label.form-check-label
              input.form-check-input(type='checkbox', v-model='attr.check')
              | {{ attr.label }}
          textarea.textarea.form-control(rows='3', v-model='candidateText', readonly)
          button.btn.btn-primary(type='submit') Push All
