script(src='/js/creator/diagrams.js')
#diagrams
  h2 Diagrams
  form.form-inline(@submit.prevent, @submit='getData()')
    label.control-label(for='lineName') From line name
    input#lineName.form-control(type='text', v-model='lineName')
    button.btn.btn-default(type='submit') Search
  ul.pagination
    li.clickable(:class='{disabled: pagination.current == 0}')
      a(aria-label='Previous', @click='next(pagination.current - 1)')
        span(aria-hidden='true') &laquo;
    li.clickable(v-for='i in pagination.last', :class='{active: pagination.current == i - 1}')
      a(v-text='i', @click='next(i - 1)')
    li.clickable(:class='{disabled: (pagination.last - 1) <= pagination.current}')
      a(aria-label='Next', @click='next()')
        span(aria-hidden='true') &raquo;
  table.table.table-striped.table-condensed
    tr
      th ID
      th Name
      th Type
      th SubType
      th From
      th To
      th
    tr(v-for='diagram in diagrams')
      td(v-text='diagram.id')
      td(v-text='diagram.name')
      td(v-text='diagram.trainType.name')
      td(v-text='diagram.subType')
      td(v-text='diagram.stops[0].station.name')
      td(v-text='diagram.stops[diagram.stops.length - 1].station.name')
      td
        button.btn.btn-xs(type='button', @click='edit(diagram.id)') Copy
        button.btn.btn-xs.btn-danger(type='button', @click='deleteDiagram(diagram.id)') Delete
