script(src='/js/creator/diagrams.js')
#diagrams
  h2 Diagrams
  ul.pagination
    li(:class='{disabled: pagination.current == 0}')
      a(href='#', aria-label='Previous', @click='next(pagination.current - 1)')
        span(aria-hidden='true') &laquo;
    li(v-for='i in pagination.last', :class='{active: pagination.current == i}')
      a(href='#', v-text='i + 1', @click='next(i)')
    li(:class='{disabled: (pagination.last - 1) <= pagination.current}')
      a(href='#', aria-label='Next', @click='next()')
        span(aria-hidden='true') &raquo;
  table.table.table-striped.table-condensed
    tr
      th ID
      th Name
      th Type
      th SubType
      th From
      th To
      th
    tr(v-for='diagram in diagrams')
      td {{ diagram.id }}
      td {{ diagram.name }}
      td {{ diagram.trainType.name }}
      td {{ diagram.subType }}
      td {{ diagram.stops[0].station.name }}
      td {{ diagram.stops[diagram.stops.length - 1].station.name }}
      td
        button.btn.btn-xs(type='button', @click='edit(diagram.id)') Copy
        button.btn.btn-xs.btn-danger(type='button', @click='delete(diagram.id)') Delete
