# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
target/
tmp/
test-result
server.pid
*.eml
/dist/
.cache

# settings
/conf/production.conf
/conf/application.conf
