doctype html
html(lang=ja)
  head
    include ../template/_header
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js')
    script(src='/js/data/map.js')
    script(src='/js/data/mission_map.js')
    title Mission
  body
    include ../template/_navbar
    #main.container(role='main')
      #title
        h2(v-text='mission.name')
        a.btn.btn-default(:href='"/game/index.html?mission=" + mission.id') Play
        a.btn.btn-default(:href='"/data/ranking.html?mission=" + mission.id') Ranking
      #map
