doctype html
html(lang=ja)
  head
    include ../../template/_header
    script(src='/js/creator/validator.js')
    title Validator
  body
    include ../../template/_navbar
    .container(role='main')
      include ../_navbar
      h1.page-header Validator
      #messages
        .panel.panel-default(v-for='mes in messages')
          .panel-body
            a(v-if='mes.url', :href='mes.url', v-text='mes.message')
            span(v-if='!mes.url', v-text='mes.message')
