doctype html
html(lang=ja)
  head
    include ../template/_header
    title Train Stamp Rally
  body
    include ../template/_navbar
  .container(role=main)
    div
      h1 サイトの概要
      h3 これは何？
      p 列車に乗ってmissionで指定された駅をめぐり、掛かった時間・距離・金額を競うゲームです。
      h3 プレイするのに必要なもの
      p アカウント登録が必須です。必要なのはメールアドレス、アカウント名(表示名)、パスワードだけです。
      h1 ゲームのルール
      h3 駅がどこにあるか分からない
      p 現実と連動しているので時刻表サイト・地図とかを参考にすると良いです。この辺分かりやすくしようと試行錯誤中です。また、missionの駅名をクリックするとその駅に行く方法(路線名・列車)が表示されます。
      h3 乗り換えルール
      p 同じ駅名なら乗り換えることができます(その仕様のために変更されている駅名もあります)。乗り換えに掛かる時間はどんなにホームが離れていても0分です。ただしmissionの目的地になっている場合は5分消費されます。
      h3 現実とダイヤが違う
      p 入力の手間等考えて若干手を入れています。たとえば
      ul
        li 同じ行き先の列車は速い方に纏める
        li 数の少ないレアな列車は省く
        li 纏めるために普通列車の系統を切る(上野東京ライン直通は上野と東京で区切る等)
        li 纏めるために列車運転の短縮・延長
        li 停車駅の違う列車の統一
      p などしています。ただし
      ul
        li 実際には接続しているのに接続していない列車
        li 以上では説明できないおかしなダイヤ・列車
      p があった場合は作者のミスな可能性が高いです。
        a(href='#contact') 作者へ連絡
        | していただけると嬉しいです。
      h3 現実と運賃が違う
      p 現状は以下の運賃仕様となっています。
      ul
        li 列車を乗り換える度に一度駅から出たものとして運賃が発生する
        li JR線の普通運賃は全て本州幹線の運賃で計算される
        li 新幹線の特急料金は東海道・山陽新幹線の自由席特急券がベースとなったオリジナルのもの
        li JRの特急料金は全てJR東日本のB特急自由席料金で計算される
        li 智頭急行線・伊勢鉄道線がJR扱いで計算される(列車が途中で運賃体系が切り替わるのに上手く対処できないため)
        li その他運賃特例は計算しない

      h1 ゲームコンテンツ
      h3 missionの作り方
      p missionは作れます。上のCreatorタブをクリックし、mission名・開始駅・行く必要のある駅を複数設定するだけです。他のユーザもプレイすることができます。ランダムに生成して適当にプレイすることもできます。
      h3 mission更新
      p Introduction、ClearTextという2つの文章の設定・変更ができます。駅は変更できません。
      h3 mission削除
      p mission更新のところにあるボタンで削除できます。一度でもプレイしたmissionは削除できません。
      h3 ○○線が無い
      p すみませんまだ出来てないです。作者に言うと早く作られるかも？JR線はほぼ全てあるはずです(災害復旧待ちなどで無い路線がわずかにあります

      h1 開発の話
      h3#contact 連絡先
      p
        a(href='https://gitter.im/ponkotuy/train-stamp-rally') Gitter
        | を推奨しています。どうしても非公開に聞きたい場合は
        a(href='mailto:web@ponkotuy.com') メール
        | (web@ponkotuy.com)
        | でも受け付けています。

      h3 今後の方針
      p 実は鉄道に限定する必要も無いと思っていて、高速バス・飛行機に対応するのもアリかも？
      h3 似たようなゲーム無かった？
      p ありました。VSRっていう名前ですね。あれで気に入らない部分があって自分で一から作り直したところがあります。というか今でも割とメンテされてますね…。(てっきり死んだものと)
      p 現状としては全駅に対応している、mission作成機能がこちらのウリで、VSRが秀でているのはUI、欧州版、宝探しモード、駅寝モードとかでしょうか。
      h3 動作環境
      p FirefoxとChromeの最新版で動作確認されています。IEは動作させたいです。スマホは現状非対応に近い状態です。
      h3 開発情報
      p 作者の自宅サーバで動いています。サーバはScala + Playframework + Skinny-ORM、フロントはVueJS + Bootstrap + CoffeeScriptという感じです。
      h3 作者情報
      h4 ぽんこつ
      p Scalaで適当なWebサービスを作る程度の能力。
      ul
        li
          a(href='https://twitter.com/ponkotuy/') Twitter(@ponkotuy)
        li
          a(href='https://github.com/ponkotuy/') GitHub(@ponkotuy)
        li
          a(href='https://myfleet.moe/') MyFleetGirls(前作った艦これツールです)
        li
          a(href='http://www.amazon.co.jp/registry/wishlist/24XYZ0PSKBDSE') Amazon欲しい物リスト
        li
          a(href='mailto:web@ponkotuy.com') メール
          | (web@ponkotuy.com)
      p また、ダイヤ制作は、
        a(href='https://twitter.com/kanamin/') かなみん(@kanamin)
        | さんにも手伝ってもらいました。感謝!
