meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(v-model="viewport" content="width=device-width, initial-scale=1")

include ../template/_bootstrap

script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js')
script(src='/js/common.js')

style
  |.clickable { cursor: pointer; }
  |.table > tbody > tr > td {
  |  vertical-align: middle;
  |}
  |.btn.btn-xs {
  |  margin: 2px 1px;
  |  padding: 2px 15px;
  |}
