script(src='/js/navbar.js')
.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') TrainStampRally
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul#navs.nav.navbar-nav
        li(v-for='cat in categories', :class="{'active': cat === category}")
          a(:href='"/" + cat + "/index.html"', v-text='camelCase(cat)')
      ul#login.nav.navbar-nav.navbar-right
        li(v-if='!logined')
          a(href='/auth/session.html') Login
        li.dropdown(v-if='logined')
          a.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup="true" aria-expanded="false")
            span(v-text='account.name')
            span.caret
          ul.dropdown-menu
            li.diviver(role='separator')
            li
              a(:href='"/data/player.html?id=" + account.id') Player情報
            li.divider(role='separator')
            li
              a(href='#', @click='logout()') Logout
