script(src='/js/navbar.js')
.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') TrainStampRally
    #navs.navbar-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li(v-for='cat in categories', :class="{'active': cat === category}")
          a(href='/{{cat}}/index.html', v-text='camelCase(cat)')
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/auth/session.html') Login
