.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') TrainStampRally
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li
          a(href='/game/index.html') Game
        li
          a(href='/creator/index.html') Creator
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/auth/session.html') Login
