script(src='/js/creator/lines.js')
h2 Lines
#lines
  table.table.table-striped.table-condensed
    tr
      th ID
      th Name
    tr(v-for='line in lines')
      td(v-text='line.id')
      td
        a.clickable(@click='openModal(line)', v-text='line.name')
.modal#lineModal.fade(role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h3(v-text='line.name')
      .modal-body
        table.table
          thead
            tr
              th Name
              th Rank
              th Distance
          tbody
            tr(v-for='station in stations')
              th(v-text='station.station.name')
              th(v-text='station.station.rank.value + ":" + station.station.rank.name')
              th(v-text='station.km + "km"')
