doctype html
html(lang=ja)
  head
    include ../../template/_header
    title Create Mission
  body
    include ../../template/_navbar
    .container(role=main)
      include ../_navbar
      include _create
      include _update
