link(rel='stylesheet' href='/css/typeaheadjs.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js')
script(src='/js/common.js')
script(src='/js/create/train_time.js')
script(src='/js/create/create_diagram.js')
#createDiagram
  h2 Create Diagram
  form.form-horizontal
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-9
        input#name.form-control(type='text', v-model='name')
    .form-group
      label.col-sm-3.control-label(for='trainType') TrainType
      .col-sm-9
        select#trainType.form-control(v-model='trainType')
          option(v-for='t in types', value='{{ t.value }}') {{ t.name }}
    .form-group
      label.col-sm-3.control-label(for='subType') Subtype
      .col-sm-9
        input#subType.form-control(type='text', v-model='subType')
    .form-group
      label.col-sm-3.control-label(for='starts') Train Times
      .col-sm-9
        textarea#starts.form-control(type='text', v-model='starts')
    .form-group
      .col-sm-1.col-sm-offset-3
        label Pattern
      .col-sm-2
        input#patternStart.form-control(type='text', v-model='pattern.start')
      .col-sm-2
        input#patternEnd.form-control(type='text', v-model='pattern.end')
      .col-sm-2
        input#patternPeriod.form-control(type='number', v-model='pattern.period')
      .col-sm-2
        button.btn.btn-default.form-control(type='button', @click='pushPattern()') Push
    .form-group
      label.col-sm-6.control-label Station
      label.col-sm-3.control-label Arrival(minutes)
      label.col-sm-3.control-label Departure(minutes)
    .form-group(v-for='stop in stops')
      .col-sm-7
        input.form-control.autoCompleteStation(autocomplete='off', v-model='stop.name')
      .col-sm-2
        input.form-control(type='text', v-model='stop.arrival', v-bind="{'disabled': $index == 0}")
      .col-sm-2
        input.form-control(type='text', v-model='stop.departure', v-bind="{'disabled': $index == 0}")
      .col-sm-1
        button.btn.btn-default.form-control(type='button', @click='addStop($index)')
          span.glyphicon.glyphicon-plus
    .form-group
      label.col-sm-3.control-label From web
      .col-sm-7
        input.form-control(type='text', v-model='scrape')
      .col-sm-2
        button.btn.btn-default.form-control(type='button', @click='getScrape()') Scrape
  button.btn.btn-success.btn-lg(type='button', v-if='update', @click='update()') Update
  button.btn.btn-primary.btn-lg(type='button', @click='submit()') Send ALL
