script(src='/js/create/diagrams.js')
#diagrams
  h2 Diagrams
  table.table.table-striped.table-condensed
    tr
      th ID
      th Name
      th Type
      th SubType
      th
    tr(v-for='diagram in diagrams')
      td {{ diagram.id }}
      td {{ diagram.name }}
      td {{ diagram.trainType.name }}
      td {{ diagram.subType }}
      td
        button.btn.btn-xs(type='button', @click='edit(diagram.id)') Copy
