ul.nav.nav-pills
  li(role='presentation')
    a(href='../mission/index.html') Mission
  li(role='presentation')
    a(href='../line/index.html') Line
  li(role='presentation')
    a(href='../diagram/index.html') Diagram
