script(src='/js/creator/navbar.js')
#creatorNav.nav.nav-pills(role='group')
  li(v-for='cat in categories')
    a(:href="'../' + cat.name + '/index.html'", :class="{'btn-info': category === cat.name}", v-text='camelCase(cat.name)')
