#search
  form.form-inline(@submit.prevent, @submit='search()')
    .form-group
      label(for='searchName') Name
      input#searchName.form-control(type='text', v-model='name')
      button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-search(aria-hidden='true')
        | Search
  table.table.table-condensed.table-hover
    thead
      tr
        th ID
        th Name
        th Lines
    tbody
      tr(v-for='station in stations')
        td(v-text='station.id')
        td
          a(href='#', v-text='station.name', @click='update(station.id)')
        td
          span.label.label-default.clickable(v-for='line in station.lines', v-text='line.line.name', @click='createStation(station, line)')
