doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include template/_bootstrap
    title Train Stamp Rally Creator
  body
    .jumbotron
      h1 TrainStamp Rally Creator
    .container(role=main)
      h3
        a(href='line/index.html') CreateLine
      h3
        a(href='create_diagram.html') CreateDiagram
