doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include template/_bootstrap
    title Train Stamp Rally
  body
    include template/_navbar
    .jumbotron
      .container
        h1 Train Stamp Rally
        p 列車に乗って駅をめぐる
        p 時間・距離・金額を競う
  .container(role=main)
    a.btn.btn-primary.btn-lg(href='/auth/account.html') アカウント登録
