doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    include template/_bootstrap
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js')
    script(src='js/index.js')
    title Create Line
  body
    .jumbotron
      h1 Create Line
    .container#createLine(role=main)
      h3 Line
      form.form-horizontal
        .form-group
          label.col-sm-3.control-label(for='lineName') Name
          .col-sm-9
            input#lineName.form-control(type='text', v-model='lineName')
      h3 Stations
      form.form-horizontal
        .form-group
          label.col-sm-5.control-label Name
          label.col-sm-3.control-label Distance(km)
          label.col-sm-3.control-label Size
        .form-group(v-for='(idx, st) in stations')
          .col-sm-5
            input.form-control(type='text', v-model='st.name')
          .col-sm-3
            input.form-control(type='number', step='0.1', min='0.0', value='0.0', v-model='st.km' number)
          .col-sm-3
            select.form-control(v-model='st.rankValue')
              option(value=1) Top
              option(value=2) Major
              option(value=3) Large
              option(value=4) Middle
              option(value=5) Local
          .col-sm-1
            button.btn.btn-danger(type='button', v-on:click='deleteStation(idx)')
              span.glyphicon.glyphicon-trash
        .form-group
          .col-sm-2.col-sm-offset-10
            button.btn.btn-default.form-control(type='button', v-on:click='addStation()') Add Station
      h3 Send
      form.form-inline
        button.btn.btn-primary(type='button', v-on:click='postLine()') ALL Send
