link(rel='stylesheet' href='/css/typeaheadjs.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js')
script(src='/js/common.js')
script(src='/js/create_mission.js')
#createMission
  h2 Create Mission
  form.form-holizontal
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-9
        input#name.form-control(type='text', v-model='name')
    .form-group
      label.col-sm-3.control-label(for='start') Start Station
      .col-sm-9
        input#start.autoCompleteStation.form-control(type='text', v-model='startStation')
  h3 Stations
  form.form-holizontal
    .form-group(v-for='st in stations')
      .col-sm-9.col-sm-offset-3
        input.autoCompleteStation.form-control(type='text', v-model='st.name')
    .form-group
      .col-sm-2.col-sm-offset-10
        button.btn.btn-default.form-control(type='button', v-on:click='addStation()') Add Station
  h3 Send
  form.form-inline
    button.btn.btn-primary.btn-lg(type='button', v-on:click='submit()') ALL Send
