script(src='/js/missions.js')
h2 Missions
#missions
  table.table.table-striped.table-condensed
    tr
      th ID
      th Name
    tr(v-for='mission in missions')
      td {{ mission.id }}
      td {{ mission.name }}
